.date-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container select {
  padding: 5px;
  margin-right: 10px;
}

.input-container input {
  padding: 5px;
  width: 80px;
}